/* first for IE 4–8 */
@font-face {
  font-family: MarkWeb;
  src: url("../fonts/MarkWeb.eot");
}

/* then for WOFF-capable browsers */
@font-face {
  font-family: MarkWeb;
  src: url("../fonts/MarkWeb.woff") format("woff");
}

@font-face {
  font-family: MarkWebBold;
  src: url("../fonts/MarkWeb-Bold.woff") format("woff");
  font-weight: bold;

}

@font-face {
  font-family: MarkWebMedium;
  src: url("../fonts/MarkWeb-Medium.woff") format("woff");
  font-weight: bolder;
}

* {
 font-family: MarkWeb, "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

html { 
  min-height: 100%;
}

body{
  min-height: 100%;
}

/* TYPOGRAPHY */

h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  padding-bottom: 15%;
}


/* STRUCTURE */

.top {
    background-color: transparent;
    margin: 0 auto;
}
.top .container {
    background-color: transparent;

}
.banner {
    background-color: transparent;
}
.banner .container {
    max-width:400px;
    text-align:center;
    background-color: transparent;
    min-height: 200px;
    padding: 40px 30px 30px 40px;
    margin: 0 auto;
}
.banner .container p {
    font-size: 22px;
    font-weight: 300;
}
.header{
    background-color:transparent;
}
.middle {
    background-color: #transparent;
}
.middle .container {
    background-color:transparent;
    min-height: 300px;
    padding-bottom: 20px;
}

/* Navbar */

.navbar{
   margin-top:10px;
   letter-spacing: 1px; 
   text-align:center;
}
.navbar .navbar-nav {
  display: inline-block;
  float:none;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
}
 .navbar .navbar-nav> li > a {
  border-right: 1px solid #333;
  padding-left: 10px;
  padding-right: 10px;
}

/* Navbar Default */
.navbar-default {
  background-color: transparent;
  border: none;
  color:#fff;
}
.navbar-default .navbar-nav > li > a {
  color: #B8b8b8;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
}
.navbar-default .navbar-nav li a.this-item  {
  color:#fff;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color: #fff;
  }

/* Navbar Inverse */
.navbar-inverse {
  background-color: transparent;
  border: none;
  color:#999;
}
 .navbar-inverse .navbar-nav> li > a {
  border-right: 1px solid #ccc;
  color: #B8B8B8;
}
.navbar-inverse .navbar-nav > li > a:hover{
  color: #000;
}
 .navbar .navbar-nav li a.last-nav-item  {
  border: none;
}
.navbar-inverse .navbar-nav li a.this-item  {
  color:#000;
}
.navbar-inverse .navbar-toggle .icon-bar{
    background-color: #000;
  }

/* Navbar Togglr */

.navbar-toggle {
  font-size: 32px;
  line-height: 32px;
  border:none;
}
 .navbar .navbar-toggle,  .navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus{
  background-color: transparent;
}
.navbar .navbar-nav {
  display: inline-block;
  float:none;
}
.navbar .navbar-collapse {
  text-align: center;
  color: #000;
  border-top:none;
}



.button{
    border:none;
    color:#fff;
}

.bottom {
    background-color: #474747;
}
.bottom .container {
    background-color: #373737;
    min-height: 150px;
}
.bottom .container h3 {
    color: #999;
}
.bottom .container p {
    color: #666;
}


.content p {
    line-height: 30px;
    font-size: 16px;
}
.to-tutorial {
    text-align: center;
}

.caption {
text-align:left;
padding-top:5%;
font-weight:bold;
}

.myButton {
  display:block;
  margin-top:25%;
  margin-bottom:60px;
  margin-left:25%;
  margin-right:25%;
  border: 2px solid #ffffff;
  vertical-align:middle;
}

/* page backgrounds */

.bgTransparent{
  background-color:transparent;
}
.bgWhite{
  background-color:#fff;
}
.bgBlack{
  background-color:#000;
}

/* custom spacing */

.pad-3x{
  padding-bottom:15%;
}
.pad-2x{
  padding-bottom:10%;
}
.pad-1x{
  padding-bottom:5%;
}

/* TO TOP*/
.container{
  min-height:100%;
}


.scrollToTop{
  display:block;
  margin-bottom:60px;
  margin-left:25%;
  margin-right:25%;
  vertical-align:middle;
}

.scrollToTop:hover{
  text-decoration:none;
}

/* Form Fields*/

.form-control {
  display: block;
  width: 100%;
  height: 60px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #fff;
  background-color: #000;
  background-image: none;
  border: 2px solid #ccc;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

